# See https://help.github.com/ignore-files/ for more about ignoring files.

# IDE
.vs

# dependencies
/packages

# user specific
*.user
*.DotSettings.user

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
[Xx]64/
[Xx]86/
[Bb]uild/
bld/
[Bb]in/
[Oo]bj/
